@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html,  body{
    height: 100%;
}

body{
    display: flex;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    background-color: #4bff4b;
}

.title{
    display: flex;
    /* color: white; */
    min-height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    /* font-weight: bold; */
    text-align: center;
    font-family: 'Lobster', cursive;
}

nav{
    display: flex;
    background-color: #d54700;
    color: white;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

nav div:hover {
    cursor: pointer;
    text-decoration: underline;
}

nav div+div{
    border-left: 2px solid white;
    padding-left: 32px;
}

nav div:nth-child(1), nav div:nth-child(2){
    padding-right: 32px;
}

main > div{
    width: 75%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 20px;
    background-color: rgb(155, 255, 163, 0.8);
}

#content{
    display: flex;
    flex-direction: column;
    flex: 1;
    background: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}